@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.placeholder {
  background-color: #eee;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: rgb(243, 244, 246);
  background: linear-gradient(to right, rgb(243, 244, 246) 10%, #dddddd 18%, rgb(243, 244, 246) 33%);
  background-size: 800px 104px;
  height: 100px;
  position: relative;
}

.custom .react-colorful__saturation {
  margin-bottom: 10px;
  height: 14px;
  border-radius: 8px;
}

.custom .react-colorful__pointer {
  width: 14px;
  height: 14px;
  border-width: 1px;
}
.custom .react-colorful__hue {
  order: 1;
}

.custom .react-colorful__hue {
  height: 14px;
  border-radius: 8px;
  border-width: 1px;
}

.custom .react-colorful__hue-pointer,
.custom .react-colorful__alpha-pointer {
  width: 12px;
  height: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.round {
  background-color: #ff5d12;
}
.slides {
  position: absolute;
  max-height: calc(100vh - 200px);
  max-width: calc(100vw - 200px);
}

.slider.round:before {
  border-radius: 50%;
}

.slider.blue {
  border-radius: 34px;
}

.blue {
  background-color: #181d73;
}

.slider.blue:before {
  border-radius: 50%;
}

.swiper-button-prev::after {
  content: " prev";
  position: absolute;
  left: -10px;
  color: black;
}
.swiper-button-next::after {
  content: " next";
  position: absolute;
  right: -10px;
  color: black;
}

.swiper {
  width: 95%;
  height: 95%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 348px;
  height: 225px;
  object-fit: cover;
  background: white;
  box-shadow: 0.5px 0px 1px 0.5px lightgray;
  padding: 5px;
  border-radius: 7px;
}

@media only screen and (max-width: 600px) {
  .iframe-class {
    width: auto;
    height: auto;
  }
}

/* @media only screen and (min-width: 600px) {
    .iframe-class{
      width: auto;
      height: auto;
    }
    
  } */
